<!-- <p>welcome works!</p> -->

<!-- simple greeting -->
<section class="agreement-container">
    <section class="welcome-container">
        <div class="welcome-content">
            <h1>Welcome to the Climbing Gym!</h1>
            <p>Discover the heights you can reach, conquer your fears, and be a part of a supportive climbing community.
            </p>
            <p>Experience the thrill of climbing and the joy of accomplishment as you ascend to new heights.</p>
            <p>No need to worry about gear. We got you covered. </p>
        </div>
    </section>

    <!-- image container -->
    <div class="scroll-container">
        <img src="assets/DJI_0056.JPG" alt="drone shot">
        <img src="assets/IMG_4616.CR2.jpg" alt="dramatic silhouette">
        <img src="assets/R1-02549-010A.jpeg" alt="club">
        <img src="assets/IMG_0138.jpeg" alt="club">
        <img src="assets/IMG_3966.jpg" alt="club">
        <img src="assets/IMG_1666.jpg" alt="club">
    </div>
</section>