<div class="row">
  <div class="col-xs-12">
    <h1>{{ chore.name }} | Finish By: {{ chore.finishDate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-groups" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="onChoreEdit()">Edit</a></li>
        <li><a style="cursor: pointer" (click)="onChoreDelete()">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br />
    {{ chore.description }}
    <hr />
    <h5>Created: {{ chore.startDate }}</h5>
  </div>
</div>
