<!-- <p>away-roster works!</p> -->

<div class="away-roster" *ngIf="!viewModeAway">
    <h2>{{ awayTeam.teamName }}</h2>
    <p>Coach: {{ awayTeam.coach.name }}</p>
    <h5 class="players-header">Players</h5>
    <ul class="list-group">
        <li class="list-group-item player" *ngFor="let player of awayTeam.players">
            <p class="player-info">{{ player.position }} / {{player.height}} </p>
            {{player.name}} #{{ player.number}}
            <div>
                <button class="btn btn-outline-danger btn-sm" (click)="playerKill(player)">Kill</button>
                <button class="btn btn-outline-warning btn-sm" (click)="playerAttack(player)">Attack</button>
                <button class="btn btn-outline-success btn-sm" (click)="playerAssist(player)">Assist</button>
                <button class="btn btn-outline-success btn-sm" (click)="playerBlock(player)">Block</button>
                <button class="btn btn-outline-primary btn-sm" (click)="playerDig(player)">Dig</button>
            </div>
        </li>
    </ul>
</div>

<div class="away-roster" *ngIf="viewModeAway">
    <!-- stats chart -->
    <table mat-table [dataSource]="awayTeam.players" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="kills">
            <th mat-header-cell *matHeaderCellDef> Kills </th>
            <td mat-cell *matCellDef="let element"> {{ element.stats.kills }} </td>
        </ng-container>

        <ng-container matColumnDef="attacks">
            <th mat-header-cell *matHeaderCellDef> Attacks </th>
            <td mat-cell *matCellDef="let element"> {{ element.stats.attacks }} </td>
        </ng-container>

        <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef> Assists </th>
            <td mat-cell *matCellDef="let element"> {{ element.stats.assists }} </td>
        </ng-container>

        <ng-container matColumnDef="blocks">
            <th mat-header-cell *matHeaderCellDef> Blocks </th>
            <td mat-cell *matCellDef="let element"> {{ element.stats.blocks }} </td>
        </ng-container>

        <ng-container matColumnDef="digs">
            <th mat-header-cell *matHeaderCellDef> Digs </th>
            <td mat-cell *matCellDef="let element"> {{ element.stats.digs }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div>
    <button class="btn btn-info" (click)="switchModeAway()">
        {{ !switchModeAway ? "Stats" : "Roster" }}
    </button>
</div>