<!-- <p>climber-list-items works!</p> -->
<div>
    <div class="pull-left">
        <h3 class="list-group-item-heading">{{ climber.name }}</h3>
        <p class="list-group-item-text">700 Number: {{ climber.id }}</p>
        <p>Birthday: {{climber.birthday}}</p>
    </div>
    <span class="pull-right">
        <p>Date Created: {{ climber.dateCreated}}</p>
        <!-- <div ngIf="{{climber.guardianName}}">
            <p>guardianName: {{climber.guardianName}}</p>
        </div> -->
    </span>
</div>
<hr>