<div class="scoreboard-container">
    <button class="btn btn-secondary" (click)="RosterView()">Go to Roster View</button>
    <div class="scoreboard-rectangle">
        <div class="home-score">
            <div class="score-label">{{teamA.teamName}}</div>
            <div class="score">{{homeScore}}</div>
        </div>
        <div class="serving-info">
            <div class="serving-team">Serving</div>
            <div class="serving-team-name">{{serves}}</div>
        </div>
        <div class="away-score">
            <div class="score-label">{{teamB.teamName}}</div>
            <div class="score">{{awayScore}}</div>
        </div>
        <div class="set-info">
            <div class="set-label">Set 1</div>
            <div class="set-score">{{setResults[0].home}} : {{setResults[0].away}}</div>
        </div>
        <div class="set-info">
            <div class="set-label">Set 2</div>
            <div class="set-score">{{setResults[1].home}} : {{setResults[1].away}}</div>
        </div>
        <div class="set-info">
            <div class="set-label">Set 3</div>
            <div class="set-score">{{setResults[2].home}} : {{setResults[2].away}}</div>
        </div>
    </div>

    <div class="button-container">
        <button class="btn btn-success" (click)="incrementHomeScore()">Home Scored</button>
        <button class="btn btn-danger" (click)="incrementAwayScore()">Away Scored</button>
    </div>
</div>