/* .header-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-links li {
  margin-right: 20px;
}

.header-links a {
  text-decoration: none;
  color: #333;
}

.active {
  font-weight: bold;
} */
