/* agreement.component.css */

.form-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #cc3300;
}

ol {
  font-size: 13px;
}

p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
