<!-- <p>header works!</p> -->

<nav class="navbar navbar-expand-sm bg-light navbar-light m-0 p-2">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/welcome">
        <img src="assets/mule-rt-b.png" name="Mule Logo" alt="" width="25px">
        Climbing Forms</a>

    <!-- Links -->
    <ul class="navbar-nav m-1 p-1">

        <!-- to new climber form -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/new-climber">New Climber</a>
        </li>

        <!-- to belay form -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/belay">Belay</a>
        </li>

        <!-- to person gear form -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/personal-gear">Personal Gear</a>
        </li>
    </ul>
</nav>