<!-- <p>header works!</p> -->
<!--
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-left m-3 p-3" routerLink="/welcome">
            <img src="assets/mule-rt-b.png" name="Mule Logo" alt="" width="25px">
            Climbing Forms
        </a>
        <div class="navbar-text text-left m-0 p-2" id="navbarText">
            <ul class="navbar-nav nav-left md-2">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/new-climber">New Climber</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/belay">Belay</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/personal-gear">Personal Gear</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-sm bg-secondary navbar-secondary m-0 p-2">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/welcome">
        <img src="assets/mule-rt-b.png" name="Mule Logo" alt="" width="25px">
        Climbing Forms</a>

    <!-- Links -->
    <ul class="navbar-nav m-1 p-1">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/new-climber">New Climber</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/belay">Belay</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/personal-gear">Personal Gear</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/Waivers">Waivers</a>
        </li>
    </ul>
</nav>